.App {
  text-align: center;
}
/* Example styles using Flexbox */
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/* styles.css */
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

@media only screen and (min-width: 768px) {
  /* Styles for tablets and larger screens */
  .container {
    padding: 40px;
  }
}

@media only screen and (min-width: 1200px) {
  /* Styles for large screens */
  .container {
    padding: 60px;
  }
}

/* Add more media queries as needed */


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* Add your global styles here */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Your custom styles start here */

.App {
  text-align: center;
}

.NavBar {
  background-color: #2196f3;
}

.card {
  margin-top: 20px;
}

.footer {
  margin-top: auto;
  background-color: #f5f5f5;
  padding: 10px;
}
.header1
{
  background-color: #282c34;
  
}
/* Add more styles based on your design */
